  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Token de Confirmação de Transferência</h1>
    <p>
      Olá,
      <br>
      Você solicitou uma transferência de valor. Para confirmar a transferência, utilize o token abaixo:
    </p>
    <p><strong>Token: <%= @token %></strong></p>
    <p>Ele tem duração de 1 minuto</p>
    <p>
      Atenciosamente,<br>
      Equipe do Sistema de Transferências
    </p>
  </body>

