
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Transferência Concluída</h1>
    <p>
      Olá,
      <br>
    </p>
      <p><strong>Valor Transferido: R$ <%= @amount %></strong></p>
    <p>
      Atenciosamente,<br>
      Equipe do Sistema de Transferências
    </p>
  </body>

