<main class='bg-gradient w-full h-full flex justify-center items-center'>
  <div class='w-[25rem] flex flex-col'>
    <%= image_tag "https://i.ibb.co/b6wS491/raro-bank-logo.png", class: 'w-40 mx-auto' %>
    <%= yield %>
  </div>
</main>